<!-- views/index.ejs -->
<!DOCTYPE html>
<!--
Template Name: Funzi
Team Member:
  - Xiao Hu     hu440@purdue.edu
  - Haobo Wang  wang2940@purdue.edu
  - Yawen Chu   chu110@purdue.edu
-->
<html lang="en">

<head>
<title>Funzi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="" style="background-image: url(images/room2.jpg)"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> </div>
  </div>

  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="/">Funzi</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li><a href="/post">Post</a></li>
          <li class="active"><a href="/profile">Profile</a></li>
          <li><a href="/login">Login</a></li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>The Best Residence Seeker</p>
      <h3 class="heading">********FUNZI*********</h3>
<!--
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Ornare sem ultrices</a></li>
          <li><a class="btn inverse" href="#">Vestibulum porta</a></li>
        </ul>
      </footer>
-->
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="one_half first">
          <!-- If user already login, then show user info -->
          <div id='_avatar' >
            <h6 class="heading">Account Information</h6>
            <img src="images/avatar.png" alt="Avatar" class="avatar">
          </div>
          <div id="accout_info" class="card">
            <form action="/profile" method="post">
              <h2>About Me</h2>
              Email Address: <input type="text" name="email" value = <%= user.local.email %> readonly> <br>
              First Name: <input type="text" name="fname" value = <%= userinfo.fname %> required><br>
              Last Name: <input type="text" name="lname" value = <%= userinfo.lname %> required><br>
              Phone Number: <input type="text" name="phoneno" value = <%= userinfo.phoneno %> required><br>
              Bio: <textarea name="bio" rows = "5" cols = "50" class="overflow"><%= userinfo.bio %></textarea><br>
              <button type="submit" class="btn">Update</button>
            </form>
          </div>
      </div>
      
<!--!!!!!!!!!!!!!!!!!-->
      <!-- Tab links -->
      <div class="one_half" id="tab_links">
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'Renting_History')">Renting History</button>
          <button class="tablinks" onclick="openTab(event, 'Leaseing_History')">Leasing History</button>
        </div>
        <!-- Tab content -->
        <div id="Renting_History" class="tabcontent">
          <h3>Renting History</h3>
        </div>

        <div id="Leaseing_History" class="tabcontent">
          <h3>Leaseing History</h3>
        </div>
    </div>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <!-- ################################################################################################ -->
  </footer>
</div>
    
<!-- ################################################################################################ -->
<div class="wrapper row5" style="background-color: #CF9C67">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="https://docs.google.com/document/d/e/2PACX-1vR2_HGf58TdvelvZkq0pBo9pN4RriPXWg_ULaiqfyfOw__aGk3bCQrBCVrDr-jK_Qq0c6GM-sZu3iVT/pub">Purdue CS252 Lab06</a></p>
      
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
    
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<script>
    //document.getElementById('login_page').style.display='none';
    
    var name1 = "hey";
    var name2 = "fasdfads";
    var link1 = "http://www.google.com";
    var link2 = "http://www.yahoo.com";  
    
    // for renting history tab
    var renting_div = document.getElementById("Renting_History");
    //"<a href='http://dictionary.reference.com/browse/"+wordlist[i]+"' target='_blank'>"+wordlist[i]+"</a>"
    
    renting_div.innerHTML += "<li><a href="+link1+ " target='_blank'>"+name1+"</a>";
    renting_div.innerHTML += "<li><a href="+link2+ " target='_blank'>"+name2+"</a><br>";

    // for leasing history tab
    var leasing_div = document.getElementById("Leaseing_History")
    //leasing_div.innerHTML += "<li><a href="+link1+ "' target='_blank'>"+name1+"</a><br>";


    var hp = "<%= hp %>";

    if(hp){

     <% pinfo.forEach(function(pif){ %>
          leasing_div.innerHTML += "<li><a href="+"/housing?postid="+ "<%= pif.count %>"  + "&email=" + "<%= pif.email %>" + " target='_blank'><%= pif.address %></a><br>";
     <%  }); %>
    }
    


    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";

    }

 
</script>
</body>
</html>